{% if status and status == '4' %}
    <p>Les matériels demandés sont les suivants :</p>
{% elif status and status == '3' %}
    <p>Les matériels validés sont les suivants :</p>
{% endif %}
{% if not status  %}
<p>Les matériels empruntés sont les suivants :</p>
{% endif %}
<ul>
{% for matgen in loan.loangenericitem_set.all %}
<li>{{ matgen.material.name }} ({{ matgen.quantity  }} exemplaire{{ matgen.quantity|pluralize }})</li>
{% endfor %}
</ul>
<ul>
{% for matspec in loan.specific_materials.all|dictsort:"model.id" %}
{% ifchanged matspec.model.id %}
</ul></li>
<li>{{ matspec.model.name }}
    <ul>
{% endifchanged %}
        <li>{{ matspec.name }}</li>
{% endfor %}
</ul>
