<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
    <p>Attention vous devez rendre du matériel emprunté à l'entité {{ loan.entity.name }} le {{ loan.due_date }}. <a href="{{ SITE_URL }}#/loan/{{ loan.id }}" style="font-size:15px; color:#143b79; margin-top:25px;margin-bottom:15px;">Accès emprunt</a></p>

    {% include "emails/listmat.html" %}

    <p>Si vous avez déjà rendu le matériel, veuillez contacter l'entité {{ loan.entity.name }}</p>

    <p>Ce mail est automatique, veuillez ne pas y répondre directement.</p>
</body>
