"""
Copyright (C) 2020-2024 LIG Université Grenoble Alpes


This file is part of Matos.

Matos is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

FacManager is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with FacManager. If not, see <https://www.gnu.org/licenses/>

@author Germain Lemasson
@author Clément Lesaulnier
@author Robin Courault
"""

import os

DEBUG=True

# Web acces protections
SITE_URL = "https://matos.exemple.fr"
ALLOWED_HOSTS = ['localhost']
CSRF_COOKIE_DOMAIN="localhost"

CORS_ORIGIN_WHITELIST = [
    'http://localhost:8080',
    'http://localhost:8081'
]
CORS_ORIGIN_REGEX_WHITELIST = [
    'http://localhost:8080',
    'http://localhost:8081'
]

if DEBUG == False :
    SESSION_COOKIE_SECURE=True
    CSRF_COOKIE_SECURE=True
    USE_X_FORWARDED_HOST=True
    SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTO', 'https')

# CAS settings
CAS_VERSION = '3'
CAS_SERVER_URL = "https://cas.exemple.fr/login"
CAS_ADMIN_PREFIX = "admin"

#LDAP settings
AUTH_LDAP_SERVER_URI = "ldaps://example.com"
AUTH_LDAP_BIND_DN = ""
AUTH_LDAP_BIND_PASSWORD = ""
AUTH_LDAP_USER_SEARCH = LDAPSearch(
    "ou=user,dc=example,dc=com", ldap.SCOPE_SUBTREE, "(uid=%(user)s)"
)
AUTH_LDAP_USER_ATTR_MAP = {"first_name": "givenName", "last_name": "sn", "email": "mail"}

# Emails which received notification mails
EMAIL_ADMIN = ['admin@exemple.org',]
NOTIFICATION_SENDER = 'admin@exemple.fr'
NOTIFICATION_REPLYTO = ['noreply@matos.exemple.fr']

#Date de la purge
#l'année correspond au delta par rapport à l'année courrante
#Exemple PURGE_DATE = '0002-08-31' on est en 2024 les données avant le 31-08-2022 seront purgées
PURGE_DATE = '0002-08-31'

#Si ISPRO_SCHEMA est défini, les utilisateurs seront automatiquement considérés comme pro
#si leur adresse mail se termine par l'une de ces valeurs
#ISPRO_SCHEMA = ['@pro.exemple.fr','@expert.example.com']

if DEBUG == True:
    BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))
    STATIC_ROOT = ''
    STATICFILES_DIRS = [
        os.path.join(BASE_DIR, "./static"),
    ]
else:
    STATIC_ROOT = './static'


