import os

DEBUG=True

# Web acces protections
SITE_URL = "https://matos.univ-grenoble-alpes.fr"
ALLOWED_HOSTS = ['localhost']
CSRF_COOKIE_DOMAIN="localhost"

CORS_ORIGIN_WHITELIST = [
    'http://localhost:8080',
    'http://localhost:8081'
]
CORS_ORIGIN_REGEX_WHITELIST = [
    'http://localhost:8080',
    'http://localhost:8081'
]

if DEBUG == False :
    SESSION_COOKIE_SECURE=True
    CSRF_COOKIE_SECURE=True
    USE_X_FORWARDED_HOST=True
    SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTO', 'https')

# CAS settings
CAS_VERSION = '3'
CAS_SERVER_URL = "https://cas-simsu.grenet.fr/login"
CAS_ADMIN_PREFIX = "admin"

# Emails which received notification mails
EMAIL_ADMIN = ['admin@example.org',]
NOTIFICATION_SENDER = 'fabmstic@univ-grenoble-alpes.fr'
NOTIFICATION_REPLYTO = ['noreply@matos.univ-grenoble-alpes.fr']

if DEBUG == True:
    BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))
    STATIC_ROOT = ''
    STATICFILES_DIRS = [
        os.path.join(BASE_DIR, "./static"),
    ]
else:
    STATIC_ROOT = './static'


