{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Vue.js Demo</title>
    <script src="{%static 'listview/vue.js'%}"></script>
    <script src="{%static 'listview/vue-resource.js'%}"></script>
    <script src="{%static 'listview/es6-promise.min.js'%}"></script>
    <script src="{%static 'listview/vuex.min.js'%}"></script>


</head>

<body>
  
<div id="app">
    <ul>
        <li v-for="product in products">
            <h1>${ product.title }$</h1>
            <p> ${ product.description }$ </p>
        </li>
    </ul>
    <counter></counter>
</div>

<script>

const store = new Vuex.Store({
  state: {
    count: 0
  },
  mutations: {
    increment (state) {
      state.count++
    }
  }
})

const Counter = {
  template: `<div>{{ count }}</div>`,
  computed: {
    count () {
        console.log(store)
       return store.state.count
    }
  }
}
new Vue({
    
    delimiters: ['${', '}$'],
    el: '#app',
    store,
    components: { Counter },
   
    data: {
        products: []

    },
  http: {
      root: 'http://localhost:8000',
      headers: {
          Authorization: 'Token 6fba0ea21a684f3dbb80c41a6c56307a6978890b'
      }
  },
  methods: {
            getProducts: function () {
                this.$http.get('/products/').then(function (data,request) {
                if (data.status == 200) {
                    this.products = data.body;
                    console.log(data);
                 }
                 else {
                     alert('server not respond')
                     console.log(data);
                 }   
                })
            }
        },
        mounted: function () {
            console.log(this.store)
            this.getProducts();
        }
})


store.commit('increment')



console.log(store.state.count)
</script>


</body>

</html>
