{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Vue.js Demo</title>
    <script src="{%static 'listview/vue.js'%}"></script>
    <script src="{%static 'listview/vue-resource.js'%}"></script>

</head>

<body>
  
<div id="app">
    <p> ${ message }$ </p>
</div>

<script>
new Vue({
  http: {
      root: 'http://localhost:8000',
      headers: {
          Authorization: 'Basic YXBpOnBhc3N3b3Jk'
      }
  }
})
</script>


</body>

</html>
