.corps {
    padding: 2rem;
}

.divisionCarte {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:active {
    background-color: var(--main-color-two);
    border-color: var(--main-color-one);
    color: var(--main-color-one);
}

.btn.btn-outline-primary {
    background-color: var(--main-color-one);
    border-color: var(--main-color-two);
    color: var(--main-color-two);
}

.btn.btn-outline-secondary:hover, .btn.btn-outline-secondary:active {
    background-color: var(--main-color-two);
    border-color: var(--footer-link-fcolor);
    color: var(--footer-link-fcolor);
}

.btn.btn-outline-secondary {
    background-color: var(--footer-link-fcolor);
    border-color: var(--main-color-two);
    color: var(--main-color-two);
    height: 50.4px;
}

.btn.btn-secondary {
    background-color: var(--footer-link-fcolor);
    border-color: var(--main-color-two);
    color: var(--main-color-two);
}

.btn.btn-secondary:hover, .btn.btn-secondary:active {
    background-color: var(--main-color-two);
    border-color: var(--footer-link-fcolor);
    color: var(--footer-link-fcolor);
}

.btn-outline-info {
    background-color: var(--main-color-one);
    border-color: var(--main-color-two);
    color: var(--main-color-two);
}

.btn-outline-info .badge {
    background-color: var(--footer-link-fcolor);
}

.btn-outline-info:hover, .btn.btn-outline-info:active {
    background-color: var(--main-color-two);
    border-color: var(--main-color-one);
    color: var(--main-color-one);
}

.btn.btn-circle:hover, .btn.btn-circle:active {
    background-color: var(--footer-link-fcolor);
}

.btn.btn-danger {
    color: var(--main-color-one);
    border-color: var(--main-color-one);
    background-color: var(--main-color-two);
}

.btn.btn-danger:hover, .btn.btn-danger:active {
    color: var(--main-color-two);
    background-color: var(--main-color-one);
    border-color: var(--main-color-one);
}

td .btn {
    width: 100%;
}

li .badge {
    background-color: var(--main-color-one);
}

.page-link {
    background-color: var(--main-color-two);
    color: var(--main-color-one);
    border-color: var(--main-color-one);
}

.page-link:hover {
    background-color: var(--main-color-one);
    color: var(--main-color-two);
    border-color: var(--main-color-two);
}

.page-link:focus {
    color: var(--main-color-one);
    box-shadow: none;
}

.page-item.disabled .page-link {
    color: var(--bg-color-reduce);
    border-color: var(--bg-color-reduce);
}

.page-item.active .page-link {
    background-color: var(--main-color-one);
    color: var(--main-color-two);
    border-color: var(--main-color-two);
}

.input-group label {
    background-color: var(--bg-color-reduce);
}

.corps h1 {
    background-color: var(--main-color-one);
    font-family: "Open Sans",Verdana,sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: var(--main-color-two);
    height: 5rem;
    text-align: center;
    padding-top: 20px;
    margin: 0;
}

.card-header {
    background-color: var(--main-color-one);
}

.card h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--main-color-one);
}

.card h3 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--main-color-two);
}

.card-header h4 {
    font-size: 20px;
    font-weight: 800;
    color: var(--main-color-two);
}

.card-body p {
    font-family: "Open Sans",Verdana,sans-serif;
    max-height: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body h2 {
    font-family: "Open Sans",Verdana,sans-serif;
    max-height: 20%;
    font-size: 24px;
    font-weight: 800;
    color: var(--secondary-font-color);
}

.petiteT {
    width: 389.5px;
    max-height: 325.5px;
    margin: 5px;
    padding: 1rem;
}

.petiteT img {
    width: auto;
    max-height: 30%;
}

.petiteT .card-body {
    max-height: 70%;

}

.moyT {
    width: 379.5px;
    max-height: 504.5px;
    margin: 10px;
    padding: 1rem;
}

.moyT img {
    width: auto;
    max-height: 30%;
}

.moyT .card-body {
    max-height: 70%;
}

.grandeT {
    width: 779px;
    max-height: 679px;
    margin: 10px;
    padding: 1rem;
}

.grandeT img {
    width: auto;
    max-height: 60%;
}

.grandeT .card-body {
    max-height: 40%;
}

.corps a {
    font-family: "Open Sans",Verdana,sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--main-color-one);
}

.corps a:hover, .corps a h4:hover {
    color: var(--link-color);
}

.corps .dropdown-menu a {
    font-weight: 600;
    color: var(--main-color-two);
}

@media (min-width: 1360px) and (max-width: 1630px) {
    .petiteT {
        width: 281.5px;
        max-height: 352.5px;
        margin: 5px;
        padding: 1rem;
    }

    .moyT {
        width: 271.5px;
        max-height: 564.5px;
        margin: 10px;
        padding: 1rem;
    }

    .grandeT {
        width: 563px;
        max-height: 558px;
        margin: 10px;
        padding: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1365.98px) {
    .petiteT {
        width: 220.5px;
        max-height: 347.5px;
        margin: 5px;
        padding: 1rem;
    }

    .petiteT h2 {
        font-size: 18px;
    }

    .moyT {
        width: 441px;
        max-height: 452.5px;
        margin: 10px;
        padding: 1rem;
    }

    .grandeT {
        width: 441px;
        max-height: 504px;
        margin: 10px;
        padding: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .petiteT {
        width: 340px;
        max-height: 317.5px;
        margin: 5px;
        padding: 1rem;
    }

    .moyT {
        width: 340px;
        max-height: 437.5px;
        margin: 10px;
        padding: 1rem;
    }

    .grandeT {
        width: 340px;
        max-height: 461.5px;
        margin: 10px;
        padding: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .petiteT {
        width: 255px;
        max-height: 344px;
        margin: 5px;
        padding: 1rem;
    }

    .moyT {
        width: 250px;
        max-height: 512.5px;
        margin: 10px;
        padding: 1rem;
    }

    .grandeT {
        width: 250px;
        max-height: 436px;
        margin: 10px;
        padding: 1rem;
    }
}

@media (max-width: 576px) {
    .petiteT {
        width: 444px;
        max-height: 332px;
        margin: 5px;
        padding: 1rem;
    }

    .moyT {
        width: 464px;
        max-height: 412.5px;
        margin: 10px;
        padding: 1rem;
    }

    .grandeT {
        width: 464px;
        max-height: 480px;
        margin: 10px;
        padding: 1rem;
    }

    .corps h1 {
        font-size: 1.5rem;
    }
}