.corps {
    padding: 2rem;
}

.divisionCarte {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:active {
    background-color: var(--main-color-two);
    border-color: var(--main-color-one);
    color: var(--main-color-one);
}

.btn.btn-outline-primary {
    background-color: var(--main-color-one);
    border-color: var(--main-color-two);
    color: var(--main-color-two);
}

.btn.btn-outline-secondary:hover, .btn.btn-outline-secondary:active {
    background-color: var(--main-color-two);
    border-color: var(--footer-link-fcolor);
    color: var(--footer-link-fcolor);
}

.btn.btn-outline-secondary {
    background-color: var(--footer-link-fcolor);
    border-color: var(--main-color-two);
    color: var(--main-color-two);
    height: 50.4px;
}

.btn.btn-secondary {
    background-color: var(--footer-link-fcolor);
    border-color: var(--main-color-two);
    color: var(--main-color-two);
}

.btn.btn-secondary:hover, .btn.btn-secondary:active {
    background-color: var(--main-color-two);
    border-color: var(--footer-link-fcolor);
    color: var(--footer-link-fcolor);
}

.btn-outline-info {
    background-color: var(--main-color-one);
    border-color: var(--main-color-two);
    color: var(--main-color-two);
}

.btn-outline-info .badge {
    background-color: var(--footer-link-fcolor);
}

.btn-outline-info:hover, .btn.btn-outline-info:active {
    background-color: var(--main-color-two);
    border-color: var(--main-color-one);
    color: var(--main-color-one);
}

.btn.btn-circle:hover, .btn.btn-circle:active {
    background-color: var(--footer-link-fcolor);
}

.btn.btn-danger {
    color: var(--main-color-one);
    border-color: var(--main-color-one);
    background-color: var(--main-color-two);
}

.btn.btn-danger:hover, .btn.btn-danger:active {
    color: var(--main-color-two);
    background-color: var(--main-color-one);
    border-color: var(--main-color-one);
}

.card-header .btn.btn-danger {
    color: var(--main-color-two);
    border-color: var(--main-color-two);
    background-color: var(--main-color-one);
}

.card-header .btn.btn-danger:hover, .card-header .btn.btn-danger:active {
    color: var(--main-color-one);
    background-color: var(--main-color-two);
    border-color: var(--main-color-two);
}

td .btn {
    width: 100%;
}

li .badge {
    background-color: var(--main-color-one);
}

.page-link {
    background-color: var(--main-color-two);
    color: var(--main-color-one);
    border-color: var(--main-color-one);
}

.page-link:hover {
    background-color: var(--main-color-one);
    color: var(--main-color-two);
    border-color: var(--main-color-two);
}

.page-link:focus {
    color: var(--main-color-one);
    box-shadow: none;
}

.page-item.disabled .page-link {
    color: var(--bg-color-reduce);
    border-color: var(--bg-color-reduce);
}

.page-item.active .page-link {
    background-color: var(--main-color-one);
    color: var(--main-color-two);
    border-color: var(--main-color-two);
}

.input-group label {
    background-color: var(--bg-color-reduce);
}

.corps h1 {
    background-color: var(--main-color-one);
    font-family: "Open Sans",Verdana,sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: var(--main-color-two);
    height: 5rem;
    text-align: center;
    padding-top: 20px;
    margin: 0;
}

.card-header {
    background-color: var(--main-color-one);
}

.card h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--main-color-one);
}

.card h3 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--main-color-two);
}

.card-header h4 {
    font-size: 20px;
    font-weight: 800;
    color: var(--main-color-two);
}

.card-body p {
    font-family: "Open Sans",Verdana,sans-serif;
    max-height: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body h2 {
    font-family: "Open Sans",Verdana,sans-serif;
    max-height: 20%;
    font-size: 24px;
    font-weight: 800;
    color: var(--secondary-font-color);
}

.corps a {
    font-family: "Open Sans",Verdana,sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--main-color-one);
}

.corps a:hover, .corps a h4:hover {
    color: var(--link-color);
}

.corps .dropdown-menu a {
    font-weight: 600;
    color: var(--main-color-two);
}

@media (max-width: 576px) {
    .corps h1 {
        font-size: 1.5rem;
    }
}