footer {
    padding-bottom: 2rem;
    color: var(--secondary-font-color);
    background-color: var(--link-color);
}

footer .container-fluid {
    padding-top: 2rem;
}

.mobile-footer {
    display: none;
}

.contact-address {
    font-family: "Open Sans",Verdana,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

footer nav ul li a {
    font-family: "Open Sans",Verdana,sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--footer-link-fcolor);
}

footer nav ul li a:hover {
    color: var(--footer-link-scolor);
}

footer a {
    text-decoration: none;
}

.logo-area {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.logo-uga {
    height: 90px;
    width: auto;
}

.text-foot {
    width: 50%;
}

@media (max-width: 1024px) {
    .text-foot {
        width: 100%;
    }
}