#header {
    width: auto;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background: #009494;
    color:  #fff;
    overflow: hidden;
}

.button-head {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.0rem;
    padding-right: 10px;
    padding-left: 10px;
}

.button-head:active {
    max-width:150px;
    color: rgb(255, 255, 255);
}

a.button-head:hover {
    text-decoration: none;
    color: rgb(241, 229, 229);
}

a.button-head-sub:hover, a.button-head:hover, .router-link-active {
    text-decoration: none;
    color:rgb(255, 255, 255);
    background-color: #006666;

}
.button-head-sub {
    color: rgb(255, 255, 255);
    padding-right: 10px;
    padding-left: 10px;
    display:flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.nav-header{
    display:flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav-header > div {
    margin:10px;
    height: 100%;
}

.small-form {
    width: 500px;
    margin-right: 50%;
    margin-top: 20px;
}

.small-form label {
    float: left;
}

.small-form .form-control {
    float: right;
    margin-bottom: 20px;
   
}
.nav-item {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-storm {
    background: rgb(27, 24, 21);
}

.bg-storm > a {
    color: #fff;
}

.container .nav-link.router-link-active {
    background: black;
    color:#fff;
}

.self-container {
    width: 275px;
}

.grid-2 {
display: flex;
align-items: center;
justify-content: space-between;
width: 90%;
}

.align-form {
    width: 500px;
    /*! margin-right: 50%; */
    margin-top: 20px;
}
.align-form label {
    float: left;
}
.align-form .form-control {
    float: right;
    margin-bottom: 20px;
}
.align-form {
    width: 500px;
    margin-top: 20px;
    margin-left: 93px;
}
.card-body > .router-link-active {
    background: none;
    color: #2d3333;
}
.navbar > .router-link-active {
    background: none;
}

select[multiple] {
    height: auto;
    min-height: 150px;
}

.custom-control.custom-radio {
    width: 178px;
    display: flex;
}

.radio-form-group {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}